@import url(https://fonts.google.com/specimen/Figtree);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(47, 88%, 63%);
    font-family: Figtree, sans-serif;
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border: 1px solid;
    border-radius: 10px;
    width: 23rem;
    height: 34rem;
    padding: 1rem;
    box-shadow: 10px 10px;
}

img {
    border-radius: 10px;
}

.btn {
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p {
    color: hsl(0, 0%, 42%);
}
.para {
    line-height: 150%;
}
.greg {
    display: flex;
    margin-top: 1rem;
}
.hooper {
    display: inline-block;
    margin-top: 22px;
    margin-left: 5px;
}